TIDB_HOST=127.0.0.1
TIDB_PORT=4000
TIDB_USER=root
TIDB_PASSWORD=
TIDB_DATABASE=lab
TIDB_TLS=false
LAB_ENV_TIDB=tiup playground (local)
LAB_ENV_NOTES=

DD_API_KEY=
DD_APP_KEY=
DD_SITE=datadoghq.com
APM_SERVICE_PORT=9096

LAB_ENV_COMPONENT_DD_AGENT=gcr.io/datadoghq/agent:latest
LAB_ENV_COMPONENT_DATADOG_TIDB_INTEGRATION=datadog-tidb==2.1.1
LAB_ENV_COMPONENT_DD_TRACE=5.128.0
